<%- include('./partials/header.ejs') %>
<div class="main">
    <div class="login">
        <div class="login-with-externals">
            <a class="externalLoginlinks" href="/logingoogle"><button>Login with Gmail</button></a>            
            <a class="externalLoginlinks" href="/loginfacebook"><button>Login with Facebook</button></a>
            <a class="externalLoginlinks" href="/logingithub"><button>Login with Github</button></a>    
        </div>
    </div>
</div>